body 
{
    margin:10px auto;
    padding:0;
  
   
}

.mainContent
{
    width:1150px;
    margin:auto;
   border:1px solid #419BC8;
   background-color:#ECE9D8;
     min-height:430px;
     height:auto;
}
      

#leftSide
{
    float:left;
    width:50% inherit;
   background-color:#F3F3EB;
   
}

#RightSide
{
    
 float:right;   
 width:50% inherit;  
 background-color:#F3F3EB;
}

#bottomAll
{
    float:left;
}
.txtbox
{
    border: 1px solid #00AFF0;
    margin-bottom: 0px;
   width:190px; 
   height:35px; 
   
}

.btnButton
{
    border: 1px solid #89A0AE;
    background-color:#E3E3F3;
    outline: 1px outset #3895FF;
   
}


.btnButtonTwo
{
    border: 1px solid #89A0AE;
    background-color:#F3F3EF;
    outline: 1px outset #3895FF;

   
}

.btnButtonThree
{
    border: 1px solid #89A0AE;
    background-color:#F6F6A8;
    outline: 1px outset #3895FF;

}


.btnButton:active,
.btnButtonTwo:active,
.btnButtonThree:active
{
    background-color:#3895FF;
}


.lebel
{
    border:1px solid #cfcfcf;
    width:60px;
    color:Gray;
}

.dropHeader
{
  height:120px;
  width:inherit; 

  
}
#leftUpper
{
    float:left;
    width:50%;
    height:inherit;
   
}
#RightUpper
{
    float:left;
    width:38%;
   border:1px solid #89A0AE; ;
   height:inherit;
}

#RightUpperTwo
{
    float:right;
   width:10%; 
}

#MiddleCount
{
    width:100%;
    float:left;
}